
<body class="background text">
	<div class="row">
		<div class="large-12 columns blank"></div>
	</div>
	<%= link_to "Click Here To Generate a Sandwich", 'generator/index', :class => "sandwich" %>
</body>